{% extends 'base.html.twig' %}

{% block title %}Concours{% endblock %}

{% block body %}

        <div class="container">

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{aixMarseille}}"
                            title="Video Aix"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Aix Marseille</h2>
                    <h2 id="miages">Note: {{noteAix}}</h2>
                </div>

            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{amiens}}"
                            title="Video Amiens"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Amiens</h2>
                    <h2 id="miages">Note: {{noteAmiens}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{antilles}}"
                            title="Video Antilles"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Antilles</h2>
                    <h2 id="miages">Note: {{noteAntilles}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{bordeaux}}"
                            title="Video bordeaux"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Bordeaux</h2>
                    <h2 id="miages">Note: {{noteBordeaux}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{grenoble}}"
                            title="Video grenoble"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Grenoble</h2>
                    <h2 id="miages">Note: {{noteGrenoble}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{lille}}"
                            title="Video lille"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Lille</h2>
                    <h2 id="miages">Note: {{noteLille}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{lyon}}"
                            title="Video lyon"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Lyon</h2>
                    <h2 id="miages">Note: {{noteLyon}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{mulhouse}}"
                            title="Video mulhouse"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Mulhouse</h2>
                    <h2 id="miages">Note: {{noteMulhouse}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{nancy}}"
                            title="Video nancy"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Nancy</h2>
                    <h2 id="miages">Note: {{noteNancy}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{nantes}}"
                            title="Video nantes"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Nantes</h2>
                    <h2 id="miages">Note: {{noteNantes}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{nice}}"
                            title="Video nice"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Nice</h2>
                    <h2 id="miages">Note: {{noteNice}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{nouvCal}}"
                            title="Video nouvCal"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Nouvelle-Calédonie</h2>
                    <h2 id="miages">Note: {{noteCal}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{orleans}}"
                            title="Video orleans"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Orléans</h2>
                    <h2 id="miages">Note: {{noteOrleans}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisDauphine}}"
                            title="Video dauphine"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Dauphine</h2>
                    <h2 id="miages">Note: {{noteDauphine}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisDescartes}}"
                            title="Video descartes"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Descartes</h2>
                    <h2 id="miages">Note: {{noteDescartes}}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisNanterre}}"
                            title="Video Nanterre"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Nanterre</h2>
                    <h2 id="miages">Note: {{ noteNanterre }}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisEvry}}"
                            title="Video evry"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Saclay-Evry</h2>
                    <h2 id="miages">Note: {{ noteEvry }}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisOrsay}}"
                            title="Video orsay"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Saclay-Orsay</h2>
                    <h2 id="miages">Note: {{ noteOrsay }}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{parisSorbonne}}"
                            title="Video sorbonne"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Paris Sorbonne</h2>
                    <h2 id="miages">Note: {{ noteSorbonne }}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{rennes}}"
                            title="Video rennes"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Rennes</h2>
                    <h2 id="miages">Note: {{ noteRennes }}</h2>
                </div>
            </div>

            <div class="mySlides">
                <div id="video">
                    <iframe
                            src="{{toulouse}}"
                            title="Video toulouse"
                            width="700"
                            height="370"
                    ></iframe>
                </div>
                <div id="infos">
                    <h2 id="provenance">MIAGE Toulouse</h2>
                    <h2 id="miages">Note: {{ noteToulouse }}</h2>
                </div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

    <div class="concours">
        <h2>Participer au Concours</h2>
        <h3>*Insérez le lien youtube (type embed) de la vidéo de votre miage</h3>

        <div class="form">
            {{ form_start(form) }}
            <div class="lien">
                {{ form_widget(form.lien, {'attr': {'placeholder': 'Lien de la vidéo'}}) }}
                <span class="material-symbols-outlined"> movie </span>
            </div>

            <div class="bouton">
                <button type="submit" class="btn">Enregister</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <style>
        @keyframes rotate {
            100% {
                background-position: 15% 50%;
            }
        }
        body {
            background-image: url({{ asset('images/waves.svg')}});
            background-size: 170rem;
            background-repeat: no-repeat;
            animation: rotate 6s infinite alternate linear;
        }
        .concours{
            position: relative;
            margin : auto;
            margin-top: 10%;
            margin-bottom: 5%;
            z-index: 3;
            padding: 38px 30px 44px;
            border-radius: 22px;
            background: #161616;
            text-align: center;
            width: 690px;
        }

        .concours > h2 {
            color: rgba(255, 255, 255, 0.38);
            font-size: 36px;
            font-weight: 500;
            margin: 0 0 4px;
        }

        .concours > h3 {
            color: rgba(255, 255, 255, 0.38);
            margin: 0 0 30px;
            font-weight: 500;
            font-size: 16px;
        }

        form {
            place-items: center;
            width: 100%;
            margin: 0;
        }

        .lien, .bouton{
            color: rgba(255, 255, 255, 0.38);
            width: 47%;
            position: relative;
            font-size: 18px;
            float: left;
            margin-top: 16px;
            margin-left: 13px;
        }

        span {
            position: absolute;
            top: 50%;
            left: 16px;
            translate: 0 -50%;
            color: rgba(255, 255, 255, 0.38);
        }

        form input,
        form select,
        form button {
            height: 60px;
            outline: none;
            padding: 0;
            font-family: inherit;
            font-size: 16px;
            border-radius: 8px;
        }

        form input, select {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.1);
            font-size: 18px;
            padding: 0 20px 0 50px;
            color: inherit;
        }

        form input:focus, select:focus {
            border-color: #4b4c4d;
        }

        form input:focus ~ span, select:focus ~ span  {
            color: #8e44ad;
        }

        select, option{
            text-indent: 47px;
            background: #161616;
            width: 100%;
        }


        form button {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.38);
            color: #f9f9f9;
            border: 0;
            font-weight: 600;
            letter-spacing: 2px;
            width: 60%;
        }



        /* Position the image container (needed to position the left and right arrows) */
        .container {
            position: relative;
            margin-top: 10vw;
        }

        /* Hide the images by default */
        iframe {
            margin-left: 10vw;

        }



        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 35px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }



        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }
        #miages, #provenance{
            margin-left: 70vw;
            padding-bottom : 40px;
            font-family: 'Gotham', sans-serif;
            font-palette: light;
        }


        #infos {
            height: 30vw;
            padding-top: 7vw;
            padding-left: 10vw;
            margin: auto;
            float: right;
            color: #fff;
            font-weight: 700;
            font-size: 2vw;
            text-transform: uppercase;
            align-items: start;
            margin-right: 10vw;
            margin-top: -30vw;
        }

    </style>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>

{% endblock %}

