<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"/>
        <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        <a href="{{ path('app_homepage') }}" class="logo">JNM</a>
        <ul>
            {% if app.user %}
                <li><a{%if app.request.get('_route') == 'app_homepage' %} class="active"{% endif %} href="{{ path('app_homepage') }}">Infos & Communications</a></li>
                <li><a{%if app.request.get('_route') == 'app_reservation' %} class="active"{% endif %} href="{{ path('app_reservation') }}">Réservation</a></li>
                <li><a{%if app.request.get('_route') == 'app_concours' %} class="active"{% endif %} href="{{ path('app_concours') }}">Concours</a></li>
                <li><a{%if app.request.get('_route') == 'app_nos_partenaires' %} class="active"{% endif %} href="{{ path('app_nos_partenaires') }}">Nos Partenaires</a></li>
                <li><a id="deconnexion"{%if app.request.get('_route') == 'app_logout' %} class="active"{% endif %} href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a{%if app.request.get('_route') == 'app_homepage' %} class="active"{% endif %} href="{{ path('app_homepage') }}">Infos & Communications</a></li>
                <li><a{%if app.request.get('_route') == 'app_nos_partenaires' %} class="active"{% endif %} href="{{ path('app_nos_partenaires') }}">Nos Partenaires</a></li>
                <li><a{%if app.request.get('_route') == 'app_register' %} class="active"{% endif %} href="{{ path('app_register') }}">Inscription</a></li>
                <li><a{%if app.request.get('_route') == 'app_connexion' %} class="active"{% endif %} href="{{ path('app_connexion') }}">Connexion</a></li>
                <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
        </ul>
    </header>
    {% block body %}

    {% endblock %}
    <footer>
        <ul>
            {% if app.user %}
                <li><a{%if app.request.get('_route') == 'app_homepage' %} class="factive"{% endif %}  href="{{ path('app_homepage') }}">Infos & Communications</a></li>
                <li><a{%if app.request.get('_route') == 'app_reservation' %} class="factive"{% endif %} href="{{ path('app_reservation') }}">Réservation</a></li>
                <li><a{%if app.request.get('_route') == 'app_concours' %} class="factive"{% endif %} href="{{ path('app_concours') }}">Concours</a></li>
                <li><a{%if app.request.get('_route') == 'app_nos_partenaires' %} class="factive"{% endif %} href="{{ path('app_nos_partenaires') }}">Nos Partenaires</a></li>
                <li><a{%if app.request.get('_route') == 'app_nous_contacter' %} class="factive"{% endif %} href="{{ path('app_nous_contacter') }}">Nous Contacter</a></li>
            {% else %}
                <li><a{%if app.request.get('_route') == 'app_homepage' %} class="factive"{% endif %}  href="{{ path('app_homepage') }}">Infos & Communications</a></li>
                <li><a{%if app.request.get('_route') == 'app_nos_partenaires' %} class="factive"{% endif %} href="{{ path('app_nos_partenaires') }}">Nos Partenaires</a></li>
                <li><a{%if app.request.get('_route') == 'app_nous_contacter' %} class="factive"{% endif %} href="{{ path('app_nous_contacter') }}">Nous Contacter</a></li>
            {% endif %}
        </ul>
        <p class="copyright">Anaëlle Goncalves | Ludjie Alnatas | Tayeb Mohammedi © 2022</p>
    </footer>
</html>
