{% extends 'base.html.twig' %}

{% block title %}Nous Contacter{% endblock %}

{% block body %}
    <div class="login">
        <h2>Contactez nous</h2>
        <h3>    </h3>

        <!-- <h3>Content de vous revoir user</h3> -->

        <div class="login-form">
            {{ form_start(form) }}
            <div class="textbox">
                {{ form_widget(form.Nom, {'attr': {'placeholder': 'Nom Prénom'}}) }}
                <span class="material-symbols-outlined"> account_circle </span>
            </div>
            <div class="textbox">
                {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse mail'}}) }}
                <span id="message" class="material-symbols-outlined"> mail </span>
            </div>
            <div class="messagebox">
                {{ form_widget(form.message, {'attr': {'placeholder': 'Message'}}) }}
                <span class="material-symbols-outlined"> message </span>
            </div>

            <!--<button type="submit">Créer un Compte</button>-->
            <button type="submit">Envoyer Message</button>
            {{ form_end(form) }}
        </div>


    </div>

    <style>
        @keyframes rotate {
            100% {
                background-position: 15% 50%;
            }
        }
        body {
            background-image: url({{ asset('images/waves.svg')}});
            background-size: 130rem;
            background-repeat: no-repeat;
            animation: rotate 6s infinite alternate linear;
        }
        .login {
            position: relative;
            margin : auto;
            margin-top: 10%;
            margin-bottom: 5%;
            z-index: 3;
            padding: 70px 30px 44px;
            border-radius: 22px;
            background: #161616;
            text-align: center;
            width: 380px;
        }

        .login > h2 {
            color: rgba(255, 255, 255, 0.38);
            font-size: 36px;
            font-weight: 500;
            margin: 0 0 4px;
        }

        .login > h3 {
            color: rgba(255, 255, 255, 0.38);
            margin: 0 0 30px;
            font-weight: 500;
            font-size: 16px;
        }

        .login-form {
            display: grid;
            place-items: center;
            width: 100%;
            margin: 0;
        }

        .textbox, .messagebox {
            color: rgba(255, 255, 255, 0.38);
            width: 100%;
            position: relative;
            padding-top: 10px;
        }

        .textbox span {
            position: absolute;
            top: 55%;
            left: 16px;
            translate: 0 -50%;
            color: rgba(255, 255, 255, 0.38);
        }

        .login-form input,
        .login-form button {
            width: 100%;
            height: 60px;
            outline: none;
            padding: 0;
            font-family: inherit;
            font-size: 16px;
            border-radius: 8px;
        }

        .login-form input {
            background: transparent;
            border: 2px solid rgba(255, 255, 255, 0.1);
            font-size: 18px;
            padding: 0 20px 0 50px;
            color: inherit;
        }

        .login-form input:focus {
            border-color: #4b4c4d;
        }

        .login-form input:focus ~ span {
            color: #8e44ad;
        }

        .login-form textarea {
            background: transparent;
            border: 2px solid rgba(259, 255, 255, 0.1);
            font-size: 18px;
            padding: 18px 20px 0 50px;
            color: inherit;
            height: 169px;
            width: 319px;
            resize : none;
            border-radius : 8px
        }

        .messagebox span{
            position: absolute;
            top: 22%;
            left: 16px;
            translate: 0 -50%;
            color: rgba(255, 255, 255, 0.38);
        }

        .messagebox{
            padding-bottom: 10px;
        }

        .login-form textarea:focus {
            outline: none;
            border-color:#4b4c4d;
        }

        .login-form textarea:focus ~ span {
            color: #8e44ad;
        }

        .login-form button {
            cursor: pointer;
            background: rgba(255, 255, 255, 0.38);
            color: #f9f9f9;
            border: 0;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .login-form a {
            color: rgba(255, 255, 255, 0.38);
            font-size: 16px;
            text-align: left;
            text-decoration: none;
        }
    </style>
{% endblock %}
